{% extends "django_admin_shell/base.html" %}


{% block content %}

    <div class="row">
        <div class="col-xs-3">
            <h5>
                <span class="glyphicon glyphicon-list"></span>
                Output ({{ output|length }}):
            </h5>
        </div>
        <div class="col-xs-3 text-info">
            <h5> Python version : {{python_version}} </h5>
        </div>
        <div class="col-xs-3 text-info">
            <h5> Django version : {{django_version}} </h5>
        </div>
        <div class="col-xs-3 text-right">
            <a class="btn btn-danger btn-sm" id="clear-history" href="{% url "django_admin_shell:shell" %}?clear_history=yes">
                <span class="glyphicon glyphicon-trash"></span>
                Clear history
            </a>
        </div>
    </div>

    <script>
        function save_snippet(code) {
            var encoded = encodeURIComponent(code);
            var url = document.location.origin + "/admin/admin_shell/savedsnippets/add/?code=" + encoded;
            window.open(url, '_blank');
        }
    </script>

    <div id="output_container">

        {% if auto_import %}
            <div class="code" style="font-weight: bold;">
                <pre>{{ auto_import }}</pre>
            </div>
        {% endif %}

        {% for result in output reversed %}
            <div class="output">
                <div
                    class="code"
                    id="code_container"
                    ondblclick="save_snippet('{{ result.code|escapejs }}')"
                ><pre>{{ result.code }}</pre></div>
                <div class="out"><pre class="{{ result.status }}">{{ result.out }}</pre></div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-xs-12">

            <form id="shell_form" class="form form-horizontal" method="post" action=".">
                {% csrf_token %}

                {% if saved_snippets %}
                    <div class="form-group" style="margin-top: 10px;margin-bottom: 0px;">
                        <div class="col-xs-12">
                            <select class="form-control" name="snippet" id="saved_snippet">
                                <option value="">Select saved snippet...</option>
                                {% for snippet in saved_snippets %}
                                    <option value="{{ snippet.code }}">{{ snippet.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div style="width:100%">
                    {{ form.code }}
                    {% if form.code.errors %}
                        {{ form.code.errors }}
                    {% endif %}
                </div>
                
                <button id="run_code" type="submit" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-play-circle"></span>
                    Run code (ctrl + enter)
                </button>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-danger">
            Be careful, in production environment `admin shell` is highly dangerous.<br/>
            Blocking command like <code>input</code> not work.<br/>
            This code: <code> os.system('vim') </code> will run `vim` in background.<br/>
        </div>
        <div class="col-xs-6 text-info">
            <span class="glyphicon glyphicon-info-sign"></span> Ctrl + Enter : Run code<br/>
            <span class="glyphicon glyphicon-info-sign"></span> Ctrl + Up/Down : Load code from history<br/>
            <span class="glyphicon glyphicon-info-sign"></span> Tab : Indent = 4 spaces<br/>
            <span class="glyphicon glyphicon-info-sign"></span> Double click : Save code snippet
        </div>
    </div>

{% endblock %}
